.feature-container {
  display: flex;
  justify-content: space-around;
}
.feature.hover {
  background-color: #f0f0f0;
}

.feature {
  flex: 0 0 50%;
  max-width: 50%;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_benefit {
  width: 700px;
  height: 300px;
  object-fit: contain;
  border-radius: 10%;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  width: calc(100% * (number of features / 2));
  transition: transform 0.3s ease-in-out;
}

.carousel-dots {
  text-align: center;
  padding-top: 20px;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

@media (max-width: 1439px) {
  .img_benefit {
    width: 700px;
    height: auto;
  }

  .carousel-inner {
    width: calc(100% * number of features);
  }
}

@media (max-width: 939px) {
  .feature {
    margin-right: 5px;
  }

  .img_benefit {
    width: 100%;
    height: auto;
    border-radius: 10%;
  }
  .dot {
    width: 10px;
    height: 10px;
  }
}
